<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h1>Задание 2</h1>
<ul>
    <li><a href="class-view">Это шаблон для классового представления</a></li>
    <li><a href="function-view">Это шаблон для функционального представления</a></li>
</ul>
</body>

<body>
<h1>Задание 3</h1>
<ul>
    <li><a href="{% url 'index3' %}">Перейти на страницу задания 3</a></li>
</ul>
</body>

<body>
<h1>Задание 4</h1>
<ul>
    <li><a href="{% url 'index4' %}">Перейти на страницу задания 4</a></li>
</ul>
</body>

</html>